# Dependencias locales (Docker debe instalar las suyas)
node_modules
npm-debug.log

# Archivos de compilación locales
dist

# Control de versiones
.git
.gitignore

# Archivos de configuración de Docker
Dockerfile
.dockerignore

# Otros archivos innecesarios
.env
.DS_Store
README.md